html {
    box-sizing: border-box;
}
.body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tapestry', 'cursive';
    background-image: url("/photos/money.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    }
    .container{
        background-color: brown;
        width: 700px;
        height: 250px;
    }
::before, ::after {
    box-sizing: inherit;

}

.form{
    max-width: 600px;
    margin: 20px auto;
}
.label__text{
    font-weight: bold;
}

.amount__field{
    margin-left: 40px;
    width: 100px;

}

.form__legend{
    background-color: gold;
    color: brown;
    font-weight: bold;
    font-size: medium;
}
.form__button{
    background-color: rgb(57, 241, 11);
    border-radius: 3px 66px 83px 20px;

    font-weight: bold;
    font-size: medium;
    margin-top: 15px;
    margin-left: 280px;
    width: 20%;
    margin-top: 2px;
    cursor: pointer;

}


.js-currency{
    width: 246px;
    margin-left: 150px;
}
.js-amount{
    width: 240px;
    margin-left: 155px;
 
}
.form__header{
    margin-left: 220px;
    color: rgb(21, 255, 0);
}
.form__valuate{
    font-weight: bold;
}
.form__amount{
    font-weight: bold;
}
.PLN{
    color: rgb(21, 255, 0);
    margin-left: 2px;
    font-weight: bold;
    font-size: 20px;
}
.form__result {
    color: rgb(21, 255, 0);
    font-weight: bold;
    margin-left: 260px;

}
